.zoo-top-layout {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.zoo-page {
    flex: 1;
    min-width: 0;
}

.main__section {
    padding: 0 140px;
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding: 40px;
}
