/* .sidebar {
    width: 220px;
    background: var(--blue-1);
    color: white;
    height: 846px;
    position: sticky;
    top: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 80px;
}



#sidebarToggle:checked + .sidebar {
    width: 300px;
}

#sidebarToggle:checked + .sidebar .text {
    display: inline;
}

#sidebarToggle:checked + .sidebar .animal-list-sec::before,
#sidebarToggle:checked + .sidebar .animal-list-sec-btn-cont::before {
    width: 300px;
}

#sidebarToggle:checked + .sidebar .animal-item.active::before {
    display: none;
}

#sidebarToggle:checked + .sidebar .animal-item {
    background: none;
    width: 169px;
    height: 69px;
}

#sidebarToggle:checked + .sidebar .animal-item img {
    display: none;
}

.arrow-img {
    transition: transform 0.3s ease;
}

#sidebarToggle:checked + .sidebar .sidebar-header .toggle-btn .arrow-img {
    transform: rotate(180deg);
} */
