.container__donation {
    background-color: var(--blue-1);
    padding: 50px 0;
    /* height: 221px; */
    max-width: unset;
}

.donation-desc {
    gap: 20px;
}

.container__donation h3 {
    color: white;
    text-transform: uppercase;
}

.container__donation p {
    color: white;
    font-size: 18px;
    width: 609px;
    font-weight: 400;
}

.container__donation h5 {
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
    color: white;
}

.donation_btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.donation_btn .donation-open-btn {
    cursor: pointer;
    background-color: var(--blue-1);
    color: white;
    width: 320px;
    height: 74px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    width: 80px;
    height: 100%;
    background-color: var(--orange-1);

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

.icon-box:hover {
    background-color: #d26004;
}
.donation_btn .donation-desctiption {
    padding: 0 20px;
}

@media (max-width: 1500px) {
    .container__donation {
        padding: 50px 100px;
    }
}

@media (max-width: 1500px) {
    .donation-desc {
        max-width: 577px;
    }
}

@media (max-width: 1100px) {
    .container__donation {
        padding: 50px 38px;
    }

    .container__donation .flx {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container__donation .flx h3,
    .container__donation .flx p {
        text-align: center;
        width: unset;
    }

    .donation-desc {
        gap: 30px;
    }

    .donation_btn {
        align-items: center;
    }
}

@media (max-width: 640px) {
    .container__donation {
        padding: 50px 20px;
    }

    .donation_btn span {
        font-weight: 600;
    }

    .donation_btn .btn-outline {
        gap: 40px;
    }

    .container__donation p {
        width: 300px !important;
        text-align: center;
    }
}

@media (max-width: 340px) {
    .container__donation {
        padding: 30px 10px 40px 10px;
    }

    .donation_btn .btn-outline {
        gap: 26px;
    }

    .icon-box {
        width: 50px;
    }
}
