.container__donation {
    background-color: var(--blue-1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 221px;
    gap: 100px;
    max-width: unset;
}

.donation-desc {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.container__donation h3 {
    color: white;
    text-transform: uppercase;
}

.container__donation p {
    color: white;
    font-size: 18px;
    width: 609px;
    font-weight: 400;
}

.container__donation h5 {
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
    color: white;
}

.donation_btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.donation_btn .donation-open-btn {
    cursor: pointer;
    background-color: var(--blue-1);
    color: white;
    width: 320px;
    height: 74px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    width: 80px;
    height: 100%;
    background-color: var(--orange-1);

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.donation_btn .donation-desctiption {
    padding: 0 20px;
}

@media (max-width: 1199px) {
    .container__donation {
        flex-direction: column;
        height: 640px !important;
        text-align: center;
        gap: 50px !important;
    }
}

@media (max-width: 630px) {
    .container__donation {
        height: 539px !important;
    }

    .container__donation p {
        width: 300px !important;
        text-align: center;
    }
}
