header {
    background-color: var(--orange-1);
}

.header__menu {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger span {
    width: 28px;
    height: 3px;
    background: black;
    transition: 0.3s;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
}

.header__menu-list li {
    list-style: none;
}

.header__menu-list li a {
    font-weight: 600;
    text-transform: capitalize;
}

.header__menu-info a.active {
    color: var(--green-1);
}

.header__menu-info-social-links-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__menu-info {
    display: flex;
    justify-content: space-between;
    gap: 48.25px;
}

.header__menu-social-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Responsive style */
@media (max-width: 1199px) {
    .header__menu-list {
        justify-content: space-between;
        padding: 0 50px;
        position: relative;
    }
    .header__menu-social-links.header {
        display: none;
    }
    .burger {
        display: flex;
        z-index: 2;
    }

    .burger.active span {
        background: white;
    }

    .header__menu-info-social-links-container {
        position: absolute;
        display: none;
        top: 0;
        right: -100%;
        height: 754px;
        width: 311px;
        background: var(--blue-1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: 0.4s;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 1;
        overflow-x: hidden;
    }

    .header__menu-info-social-links-container.active {
        display: flex;
    }

    .header__menu-list li a {
        color: white;
    }

    .header__menu-info {
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
    }

    .header__menu-social-links {
        justify-content: center;
    }

    .header__menu-info-social-links-container.active {
        right: 0;
    }

    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}
@media (max-width: 500px) {
    .header__menu-info-social-links-container {
        width: 233px;
        height: 600px;
    }

    .header__menu-info {
        margin-bottom: 150px;
    }
}
