.container__pets-feedback {
    position: relative;
    background-image: url('../../assets/images/image97.svg');
    width: 100%;
    height: 1776px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 160px;
    margin-bottom: 136px;
}

.container__pets-feedback-header h2 {
    padding-top: 50px;
}

.container__pets-feedback-header h2,
.container__pets-feedback-header p {
    color: white;
}

.container__pets-feedback-header {
    padding-right: 0;
}

.container__pets-feedback-sec {
    display: flex;
    gap: 50px;
    padding-left: 260px;
}

.container__pets-feedback-header h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;
    text-transform: uppercase;
    width: 440px;
    margin-bottom: 30px;
}

.container__pets-feedback-header p {
    width: 560px;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
}

.container__pets-feedback-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
.container__pets-feedback-desc-1 {
    width: 515px;
    height: 463px;
    background-color: white;

    border-radius: 5px;
}

.container__pets-feedback-desc-2 {
    width: 92px;
    height: 96px;
    font-weight: 800;
    font-size: 120px;
    color: var(--green-1);
    padding: 20px;
}

.container__pets-feedback-desc-1 p {
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
    padding: 20px;
}

.container__pets-feedback-desc-1 span {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 20px;
    width: 415px;
    height: 135px;
    display: block;
    margin-bottom: 20px;
}

.container__pets-feedback-desc-1-p {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    margin-top: 50px;
    text-transform: uppercase;
}

.container__pets-btn-scroll {
    text-align: center;
    margin: 60px auto 376px;
}

.container__pets-btn-scroll button {
    background: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.container__pets-btn-2-feedback a{
    color: white;
}

.container__pets-btn-scroll button img {
    transition: filter 0.3s ease;
}

.container__pets-btn-2-feedback img {
    transition: filter 0.3s ease;
}

.container__pets-btn-scroll button:hover,
.container__pets-btn-2-feedback:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
}

.container__pets-btn-scroll button:hover img,
.container__pets-btn-2-feedback:hover img {
    filter: brightness(0);
}

.container__pets-btn-scroll button:first-child {
    margin-right: 40px;
}

.container__pets-btn-2-feedback {
    cursor: pointer;
    margin-left: 260px;
    bottom: 200px;
    width: 359px;
    height: 74px;
    color: white;
    background: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

@media (max-width: 1919px) {
    .container__pets-feedback-sec {
        padding-left: 100px;
    }
}

@media (max-width: 1800px) {
    .container__pets-feedback-sec {
        flex-direction: column;
    }

    .container__pets-feedback-desc {
        justify-content: end;
    }

    .container__pets-btn-scroll {
        text-align: end;
        margin: 100px;
    }

    .container__pets-btn-2-feedback {
        margin-left: 100px;
    }

    .container__pets-feedback {
        height: 1880px;
    }
}

/* Responsive styles */

@media screen and (max-width: 1160px) {
    .container__pets-feedback-desc {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .container__pets-feedback {
        height: 1660px;
    }

    .container__pets-btn-scroll {
        display: none;
    }

    .container__pets-btn-2-feedback {
        margin-top: 50px;
    }
}

@media screen and (max-width: 640px) {
    .container__pets-feedback-sec {
        padding-left: 10px;
    }
    .container__pets-feedback-header {
        text-align: start;
    }

    .container__pets-feedback-desc {
        overflow: scroll;
    }
}
