.section-animal-care {
    gap: 100px;
}

.care h2 {
    width: 655px;
    height: 132px;
    text-align: center;
}

.care p {
    width: 537px;
    text-align: center;
}

/* animal cards container */

.animal-cards-banner-img-container,
.animal-cards-banner-img {
    width: 100%;
    height: 100%;
    /* width: 920px;
    height: 658px; */
}

.animal-cards-banner-img img {
    width: 100%;
    height: 100%;
}

/* favorite button */
.choose-favorite-btn-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.choose-favorite-btn-container button:hover {
    background-color: var(--blue-1);
    color: white;
}

.choose-favorite-btn-container button:hover img {
    filter: brightness(0) invert(1);
}

.container__pets-touch-img {
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .section-animal-care {
        /* padding-right: 40px; */
    }

    .main__section.animal_img {
        padding: 0;
    }

    .container__pets-touch-img img {
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: block;
    }
}

@media (max-width: 640px) {
    .care h2 {
        max-width: 600px;
        max-height: 132px;
    }

    .care p {
        max-width: 600px;
        max-height: 65px;
    }

    .animal-cards-banner-img {
        display: none;
    }
}

@media (max-width: 640px) {
    .container__pets-pay{
        padding: 0;
    }
    .container__pets-info {
        gap: 20px;
    }
    .care h2 {
        font-size: 26px;
        height: auto;
    }
    .care h2,
    .care p {
        max-width: 300px;
    }

}
