* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h3 {
    font-size: var(--heading-3);
}

.main__section {
    padding: 0 260px;
    margin-bottom: 100px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
