.container__btn-card.zoos-btn-1 {
    white-space: nowrap;
    width: 240px;
    height: 74px;
    background-color: white;
    color: var(--orange-1);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.container__btn-card.zoos-btn-1 img {
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
}
