.zoo-page-header h2 {
    text-transform: uppercase;
    color: var(--green-1);
    text-align: center;
    padding: 40px 0;
}

.zoo-page-btn {
    padding: 30px 1px;
}

.zoo-page-more-live h2 {
    color: black;
    font-weight: 500;
    line-height: 100%;
    padding: 50px;
    text-transform: uppercase;
    text-align: center;
}
