.section__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 12px;
}

.section__map h2 {
    text-transform: uppercase;
    color: var(--blue-1);
    /* width: 601px; */
    max-width: 601px;
    width: 100%;
    height: 131px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 600;
    padding: 0 12px;
    font-size: 54px;
}

.main__section-map {
    background-image: url(../../assets/images/map/map-images/Map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    max-width: 1406px;
    aspect-ratio: 1406 / 912;
    height: auto;
    /* width: 1406px; */
    /* height: 912px; */
    position: relative;
}

.pin {
    /* width: 100px; */
    width: 7%;
    height: auto;
    aspect-ratio: 100 / 144;
    /* height: 144px; */
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -100%);
}

.animal__species-1 {
    background-image: url(../../assets/images/map/map-icons/agle.png);
    top: 63%;
    left: 15%;
}

.animal__species-2 {
    background-image: url(../../assets/images/map/map-icons/croc.png);
    background-repeat: no-repeat;
    top: 62%;
    left: 23.8%;
}

.animal__species-3 {
    background-image: url(../../assets/images/map/map-icons/lion.png);
    background-repeat: no-repeat;
    top: 67%;
    left: 44%;
}

.animal__species-4 {
    background-image: url(../../assets/images/map/map-icons/monkey.png);
    background-repeat: no-repeat;
    top: 68%;
    left: 52%;
}

.animal__species-5 {
    background-image: url(../../assets/images/map/map-icons/lemur.png);
    background-repeat: no-repeat;
    top: 82.9%;
    left: 59.5%;
}

.animal__species-6 {
    background-image: url(../../assets/images/map/map-icons/bear.png);
    background-repeat: no-repeat;
    top: 57%;
    left: 71.5%;
}

.animal__species-7 {
    background-image: url(../../assets/images/map/map-icons/tiger.png);
    background-repeat: no-repeat;
    top: 72.9%;
    left: 75.2%;
}

.animal__species-8 {
    background-image: url(../../assets/images/map/map-icons/bear-2.png);
    background-repeat: no-repeat;
    top: 85%;
    left: 84%;
}

@media (max-width: 640px) {
    .section__map h2 {
        font-size: 42px;
    }
}
