.background__image {
    position: relative;
    width: 100%;
    max-width: unset;
    /* max-width: 1920px; */
    /* height: calc(100vh - var(--navigation-static-height)); */
    height: 100vh;
    background-image: url('../../assets/images/Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 150px;
}

.banner-content-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
}

.container {
    max-width: 891px;
    gap: 50px;
}

.container__h1 {
    text-transform: uppercase;
    color: var(--green-1);
}

.container__p {
    max-width: 430px;
}

.container__btn {
    align-items: center;
}

.container__btn button {
    width: 240px;
    height: 74px;
    background-color: var(--orange-1);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    transition: filter 0.3s ease;
    padding-right: 30px;
}

.container__btn button:hover {
    filter: brightness(1.1);
}

.container__btn button img {
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
}

.mobile-banner-img-container {
    display: none;
}

@media (max-width: 1500px) {
    .background__image {
        margin-bottom: 0;
    }

    .banner-content-wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {
    .container {
        gap: 30px;
    }
}

@media (max-width: 640px) {
    .banner-content-wrapper {
        padding: 50px 20px;
    }

    .mobile-banner-img-container {
        display: block;
    }
}

@media (max-width: 476px) {
    .container {
        left: 10px;
        width: calc(100% - 20px);
    }
}

/* mobile */
@media (max-width: 320px) {
    .banner-content-wrapper {
        position: static;
        transform: translate(0);
        padding: 20px 10px 0 10px;
    }

    .background__image {
        background-image: unset;
        background-size: unset;
        background-position: unset;
        background-repeat: unset;
        height: auto;
    }

    .container {
        gap: 20px;
        width: 100%;
    }

    .mobile-banner-img-container {
        height: 290px;
        background-image: url('../../assets/images/Background.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
