.container__zoo-descriptions {
    margin: 0 auto;
    gap: 150px;
    padding-bottom: 150px;
}

.container__zoo-description,
.container__zoo-description-how-work {
    gap: 40px;
}

.container__zoo-welcome {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__zoo-welcome h2 {
    color: var(--green-1);
}

.container__zoo-welcome p {
    font-size: 18px;
}

@media (max-width: 1500px) {
    .container__zoo-descriptions {
        padding: 100px;
        gap: 50px;
    }

    .container__zoo-description {
        gap: 30px;
    }

    .container__zoo-descriptions .container__zoo-welcome {
        order: 2;
        grid-column: span 10;
    }

    .container__zoo-descriptions .container__zoo-img {
        order: 1;
        grid-column: span 10;
    }

    .container__zoo-descriptions .container__zoo-welcome.how-works,
    .container__zoo-descriptions .container__zoo-img.how-works {
        grid-column: 4 / 13;
    }
}

@media (max-width: 1199px) {
    .container__zoo-description,
    .container__zoo-description-how-work {
        align-items: center;
    }

    .container__zoo-descriptions .container__zoo-welcome {
        grid-column: span 12;
    }

    .container__zoo-descriptions .container__zoo-img {
        grid-column: span 12;
    }

    .container__zoo-descriptions .container__zoo-welcome.how-works,
    .container__zoo-descriptions .container__zoo-img.how-works {
        grid-column: span 12;
    }

    .container__zoo-img img {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .container__zoo-descriptions {
        padding: 100px 0;
    }

    .container__zoo-welcome {
        padding: 30px 20px;
    }
}
