.flx {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

/* Below 1200 */
@media (max-width: 1200px) {
    .m-direction-column {
        flex-direction: column;
    }

    .m-align-flex-start {
        align-items: flex-start;
    }

   
}

/* Below 320 */
@media (max-width: 320px) {
    .s-direction-column {
        flex-direction: column;
    }
}
